{
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "semi": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "no-unused-vars": "off",
        "no-console": 0,
        "no-useless-escape": "off",
        "no-useless-catch": "off"
    },
    "ignorePatterns": ["public/**", "temp/**", "models/FHIR/fhir/**", "docs/**"]
}
