.vscode/
node_modules/

models/mongodb/FHIRTypeSchema/*
!models/mongodb/FHIRTypeSchema/Bundle.js
api/FHIR/*
.env
!api/FHIR/Patient
models/mongodb/model/*
!models/mongodb/model/Patient*.js
!models/mongodb/model/FHIRStoredID.js
!models/mongodb/model/issuedToken.js


#ignore temp folder
temp/

#ignore the base type generator code
FHIR-mongoose-Models-Generator/resourceGenerator-New.js

#ignore new back bone element schema
models/mongodb/FHIRDataTypesSchema-New

#ignore self config
config/config.js
/plugins/config.js

#ignore apidoc comment files
docs/apidoc/apidoc-sources

#ignore log files
/log
/pm2log

/utils/validator/igs/*

!**/.gitkeep