.vscode/
node_modules/

models/mongodb/FHIRTypeSchema/*
!models/mongodb/FHIRTypeSchema/Bundle.js
api/FHIR/*
.env
!api/FHIR/Patient
models/mongodb/model/*
!models/mongodb/model/Patient*.js
!models/mongodb/model/FHIRStoredID.js
!models/mongodb/model/issuedToken.js


#ignore temp folder
temp/

#ignore the base type generator code
FHIR-mongoose-Models-Generator/ComplexGenerator.js
FHIR-mongoose-Models-Generator/PrimitiveGenerator.js

#ignore new back bone element schema
models/mongodb/FHIRDataTypesSchema


#ignore self config
config/config.js