<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FHIR Burni·login</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/login/login.css">
</head>
<body class="text-center" ng-controller="loginCtrl">
    <div class="nav"></div>
    <main class="form-sign-in">
        <form name="loginForm" ng-submit="submit();">
            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control mb-1" placeholder="Username" required autofocus="" ng-model="username" ng-required="true">
    
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required ng-model="password" ng-require="true">
    
            <button class="btn btn-lg btn-primary btn-block" type="submit" >LOGIN</button>
        </form>
    </main>
</body>
</html>
<script src="../js/jquery/jquery-3.6.0.min.js"></script>
<script src="../js/popper/popper.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/angularjs/angular.min.js"></script>
<script src="../js/login/login.js"></script>